$color-principal: linear-gradient(rgb(208, 154, 224), rgba(248, 229, 237, 0.932));
$color-secondary: rgb(233, 195, 227);
$color-third: rgb(201, 176, 211);
$color-fourth:rgb(210, 152, 221);    
$color-fifth:rgb(255, 255, 255);
$color-sixth:black;
$color-texto: rgb(104, 66, 112);
$color-texto-secondary: rgb(236, 229, 238);
$color-texto-third: rgb(59, 16, 68);
$font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
$second-font-family: Arial, Helvetica, sans-serif;

